<html>
	<head>
		<title>Cocun.at</title>
		<style>
			body{background: #eee;}
			.container{max-width: 600px; margin: auto; background: #fff; padding: 30px;}
			h1{text-align: center;}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>cocun.at</h1>
			<code>https://api.cocun.at/v1/country/{COUNTRY}</code>
		</div>
	</body>
</html>